.container {
	transform: rotate(180deg);
	transform-origin: 100vw 140vh;
/*	height: 200vh;
	width: 200vw;*/
}
body {
	font-family: "calluna", serif;
}
.items {
	position: absolute;
	white-space: nowrap;
	z-index: -1;
}
.item4 {
	font-weight: 400;
	zoom: 90%;
	opacity: .5;
	margin-top: 130px;
	/*position: relative;
    -webkit-animation: moving 10s infinite;
    animation: moving 10s infinite;*/
}
.item1 {
	font-weight: 700;
	zoom: 300%;
	opacity: .3;
	white-space: nowrap;
	position:absolute;
	margin-top: 240px;

}
.item2 {
	writing-mode: vertical-rl;
	text-orientation: sideways;
	zoom: 80%;
	margin-left: 450px;
	opacity: .3;
}
.item3 {
	font-weight: 400;
	writing-mode: vertical-rl;
	zoom: 100%;
	margin-left: 300px;
	transform: rotate(180deg);
	opacity: .4;
}
.item5 {
	zoom: 400%;
	opacity: .3;
	margin-top: 45px;
	font-weight: 700;
}
.item6 {
	zoom: 400%;
	opacity: .3;
	font-weight: 700;
	writing-mode: vertical-rl;
	margin-left: 360px;
	margin-top: 60px;
}
.item7 {
	zoom: 100%;
	opacity: .3;
	font-weight: 400;
	transform: rotate(180deg);
	margin-top: 450px;
}
.item8 {
	zoom:90%;
	margin-top:300px;
	z-index: 1;
}
.item9 {
	zoom:85%;
	writing-mode: vertical-rl;
	margin-top: 340px;
	margin-left: 335px;
}
.item10 {
	zoom:80%;
	transform: rotate(180deg);
	margin-top: 550px;
	margin-left: 165px
}
.item11 {
	zoom: 80%;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	margin-left: 140px
}
.item12 {
	zoom: 150%;
	writing-mode: vertical-rl;
	margin-left: 480px;
	font-weight: 300;
	opacity: .3;
}
.item13 {
	zoom: 140%;
	writing-mode: vertical-rl;
	margin-left: 700px;
	font-weight: 400;
	opacity: .2;
}
.item14 {
	zoom: 1800%;
	writing-mode: vertical-rl;
	margin-left: 60px;
	font-weight: 700;
	opacity: .1;
	position: fixed;
}
.item15 {
	zoom: 600%;
	transform: rotate(180deg);
	margin-top: 90px;
	opacity: .4;
}
.item16 {
	zoom: 70%;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	margin-left: 1900px;
	opacity: .8;
}
.item17 {
	zoom:3000%;
	writing-mode: vertical-rl;
	opacity: .05;
	margin-left: 5%;
	margin-top: 10%;
}
.item18 {
	zoom: 2900%;
	transform: rotate(180deg);
	opacity: .04;
	margin-top: -10%;
}
.item19 {
	zoom:90%;
	margin-left: 100px;
	margin-top: 440px;
	opacity: .6;
}
.item20 {
	zoom: 88%;
	margin-left: 80px;
	margin-top: 470px;
	opacity: .6;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}
.item21 {
	zoom: 50%;
	margin-top: 1150px;
	opacity: .6;
}
.item22 {
	zoom:45%;
	margin-top: 1300px;
	margin-left: 3480px;
	opacity:.6;
	writing-mode: vertical-rl;
}
.item23 {
	zoom: 40%;
	transform: rotate(180deg);
	margin-top: 1750px;
	margin-left: 3650px;
	opacity: .6;
}
.item24 {
	zoom:35%;
	writing-mode: vertical-rl;
	margin-top: 1800px;
	margin-left: 4170px;
	transform: rotate(180deg);
	opacity: .6;
}
.item25 {
	zoom: 190%;
	writing-mode: vertical-rl;
	margin-left: 1150px;
	opacity: .7;
	z-index: 1;
}
.item26 {
	zoom: 160%;
	margin-top: 400px;
	opacity: .3;
	transform: rotate(180deg);
	position: fixed;
}
.item27 {
	zoom:100%;
	margin-left: 2700px;
	writing-mode: vertical-rl;
	opacity: .4;
	z-index: 1;
}
.item28 {
	zoom:235%;
	writing-mode: vertical-rl;
	margin-left: 860px;
	opacity: .2;
}
.item29 {
	zoom: 1400%;
	writing-mode: vertical-rl;
	margin-left: 140%;
	opacity: .06;
	font-weight: 700;
}
.item30 {
	zoom: 1200%;
	margin-top: 120%;
	opacity: .08;
	font-weight: 300;
}
.item31 {
	zoom: 65%;
	margin-top: 1780px;
	transform: rotate(180deg);

}
.item32 {
	zoom:30%;
	margin-top: 2080px;
	margin-left: 4890px;
	opacity: .6;
}
.item33 {
	zoom: 204%;
	margin-top: 1050px;
	opacity: .4;
	z-index: 1;
}
.item34 {
	zoom: 204%;
	margin-top: 700px;
	opacity: .2;
	font-weight: 700;
}
.item35 {
	zoom: 560%;
	margin-top: 180px;
	opacity: .5;
	font-weight: 100;
	transform: rotate(180deg);
}
.item36 {
	zoom: 140%;
	margin-top: 1400px;
	opacity: .4;

}
.item37 {
	zoom: 140%;
	margin-top: 1418px;
	writing-mode: vertical-rl;
	margin-left: 608px;
	opacity: .4;
}
.item38 {
	zoom: 120%;
	margin-top: 780px;
	opacity: .6;
}
.item39 {
	zoom: 120%;
	margin-top: 794px;
	opacity: .6;
	writing-mode: vertical-rl;
	margin-left: 1465px;
}
.item40 {
	zoom: 90%;
	margin-top: 1460px;
	margin-left: 2870px;
	transform: rotate(180deg);
	opacity: .5;
	font-weight: 700;
}
.item41 {
	zoom: 90%;
	margin-left: 2850px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	opacity: .5;
	font-weight: 700;
}
.item42 {
	zoom: 140%;
	transform: rotate(180deg);
	margin-top: 200px;
	margin-left: 1200px;
	opacity: .4;
}
.item43 {
	zoom: 140%;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	margin-left: 1185px;
	opacity: .4;
}
.item44 {
	zoom: 440%;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	margin-left: 560px;
	opacity: .3;
}
.item45 {
	zoom: 440%;
	margin-top: 300px;
	font-weight: 100;
	opacity: .25;
}
.item46 {
	zoom: 50%;
	margin-top: 2530px;
	opacity: .5;
}
.item47 {
	zoom: 50%;
	margin-left: 1680px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	opacity: .5;
}
.item48 {
	zoom: 80%;
	margin-top: 2170px;
	margin-left: 3550px;
	opacity: .3;
}
.item49 {
	zoom: 80%;
	margin-left: 3530px;
	writing-mode: vertical-rl;
	opacity: .3;
}
.item50 {
	zoom: 50%;
	margin-top: 3400px;
	opacity: .6;
}
.item51 {
	zoom: 50%;
	writing-mode: vertical-rl;
	margin-top: 3410px;
	margin-left: 3260px;
	opacity: .6;
}
.item52 {
	zoom: 50%;
	margin-top: 4120px;
	margin-left: 3270px;
	opacity: .6;
}
.item53 {
	zoom: 40%;
	margin-top: 4100px;
	margin-left: 4900px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	opacity: .3;
}
.item54 {
	zoom: 40%;
	margin-top: 4090px;
	margin-left: 4680px;
	transform: rotate(180deg);
	opacity: .3;
}
.item55 {
	zoom: 40%;
	margin-top: 4100px;
	margin-left: 4665px;
	writing-mode: vertical-rl;
	opacity: .3;
}
.item56 {
	zoom: 40%;
	margin-top: 4420px;
	margin-left: 4675px;
	opacity: .3;
}
.item57 {
	zoom: 240%;
	margin-top: 780px;
	opacity: .3;
}
.item58 {
	zoom: 295%;
	margin-left: 400px;
	writing-mode: vertical-rl;
	opacity: .1;
}
.item59	{
	zoom:3500%;
	writing-mode: vertical-rl;
	margin-left: 35px;
	font-weight: 700;
	transform: rotate(180deg);
	opacity: .04;
}
.links {
	color: black;
}

.links:hover{
	color: white;
	background: black;
}
@media (max-width: 768px) {
	.container {
		transform-origin: 365vw 163vh;
	}
}
.item60 {
	background-color: black;
	color: white;
	position: fixed;
	margin-top: 5px;
	margin-left: 5px;
	font-size: 18pt;
	opacity: .6;
}
/*
.item1 {
    position: relative;
    -webkit-animation: moving 10s infinite;
    animation: moving 10s infinite;
}

@keyframes moving {
    from {left: 0px;}
    to {left: 2px;}
}
@keyframes moving {
	from {left: 0px}
	to {right: }
}